
services:
  iris:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    hostname: iris-fhir
    container_name: iris-fhir
    ports:
      - 32782:1972
      - 32783:52773
      - 32784:53773
    volumes:
      - ./data:/data
      - ./fhirUI:/usr/irissys/csp/fhirUI
      - ./:/home/irisowner/irisdev